* {
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header,
nav,
main,
aside,
footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
}

@media (min-width: 600px) {
    aside {
        order: 1;
        flex-basis: 20%;
        flex-grow: 0;
    }

    main {
        order: 2;
        flex-basis: 80%;
        flex-grow: 1;
    }

    footer {
        order: 3;
    }
}