* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    align-content: flex-start;
}

footer{
    display: none;
}

header, nav{
    height: 10vh;
}

header, nav, aside, main, footer{
    padding: 15px;
    border: 1px solid black;
    flex-basis: 100%;
 }

 aside{
     flex-basis: 10%;
     padding: 5px;
     flex-grow: 0;
     height: 80vh;
 }

 main{
     flex-basis: 70%;
     flex-grow: 1;
 }

 aside > a > img {
     width: 100%;
 }

 aside > a > span {
     font-size: 0.8em;
 }