<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Index ejs</title>
</head>

<body>
 <h1>Personas</h1>
 <ul>
  <li>
   <%= name %>
  </li>
  <li>
   <%= age %>
  </li>
  <li>Coches <ul>
    <% for (coche of cars) { %>
    <li><%= coche %></li>
    <% } %>
   </ul>
  </li>
 </ul>
</body>
</html>