table{
    border-collapse: collapse;
}

td,th{
    border-style: solid;
    border-width: 2px;
}

th{
    border-top-style: none;
}

td{
    background-color:lightblue; 
}

th{
    background-color: lawngreen;
}

#celda_2_4{
    background-color: lightcoral;
}

.verde{
    background-color: greenyellow;

}

.amarillo{
    background-color: yellow;
}

td.amarillo{
    text-align: center;
}

th.amarillo{
    text-align: end;
}

.negrita{
    font-weight: bold;
}